/* Body */
body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Evitar scroll */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 25px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 58%;
    max-width: 1200px;
}

#logo {
    height: 50px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    font-size: 1.25em;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav a.main {
    color: #530aa8;
}

/* Main */
main {
    padding-top: 90px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: auto;
}

.location-info {
    text-align: center;
    margin-bottom: 20px;
}

.location-info h1 {
    color: #530aa8;
    font-size: 2em;
    line-height: 25%;
}

.location-data {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.location-data p {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
}

.location-info span {
    font-weight: normal;
}

.map-container {
    flex-grow: 1;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
