/* Body */
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */
header {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 98.5%;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logo {
    height: 40px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {    
    margin: 0;
    padding: 8px 16px;
    display: flex;
    border-radius: 5px;
    list-style: none;
    background-color: #530aa8;
}

nav li {
    font-size: 1em;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

/* Main */
main {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentCard {
    position: absolute;
    height: calc(100vh - 80px);
    width: 98%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contentCard:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

/*Vehicle selector*/
.vehicleSelector {
    position: absolute;
    width: 150px;
    top: 15px;
    left: 15px;
    z-index: 3;
}

.vehicleDropdown {
    display: flex;
    padding: 5px 2px 5px 10px;
    border-radius: 8px;
    font-size: 1em;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    color: black;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.vehicleDropdown:hover {
    box-shadow: 0 0 12px rgba(83, 10, 168, 0.4);
    border-color: #530aa8;
    background-color: #fdfdfd;
}

.dropdownIcon {
    width: 20px; 
    height: 20px;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.vehicleDropdown:hover .dropdownIcon {
    transform: rotate(270deg);
}

.dropdownContent {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    margin-top: 3px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0 10px;
    transition: max-height 0.3s ease, opacity 0.01s ease;
}

.dropdownContent label {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    font-size: 15px;
    cursor: pointer;
    gap: 5px;
    user-select:none;
}

.vehicleSelector:hover .dropdownContent {
    max-height: 60px; 
    opacity: 1;
    padding: 10px;
}

.dropdownContent label input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f0f0f0;
    border: 2px solid #dfdfdf;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.dropdownContent label:nth-child(1) input[type="checkbox"]:checked {
    background-color: #f0f0f0; /* Color del primer checkbox */
    border-color: #6309ce;
}

.dropdownContent label:nth-child(1) input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #6309ce;
    border-radius: 2px;
    transform: translate(-50%, -50%);
}

.dropdownContent label:nth-child(2) input[type="checkbox"]:checked {
    background-color: #f0f0f0; /* Color del segundo checkbox */
    border-color: #c3aaff;
}

.dropdownContent label:nth-child(2) input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #c3aaff;
    border-radius: 2px;
    transform: translate(-50%, -50%);
}

.locationInfo {
    margin-bottom: 10px;
    margin-top: 2px;
    text-align: center;
}

.locationInfo h1 {
    padding-bottom: 5px;
    line-height: 25%;
    font-size: 1.4em;
    color: #530aa8;
}

.locationData {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.2em;
}

.locationData p {
    margin: 8px;
    font-size: 1em;
    font-weight: bold;
}

.locationInfo span {
    font-weight: normal;
}

.mapContainer {
    position: relative;
    width: 100%;
    flex-grow: 1;
}

.mapButton {
    padding: 9px 15px;
    border-radius: 3px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    color: #4c4c4c;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.mapButton:hover {
    background-color: #ebebeb;
    border-color: #ebebeb;
    color: #000000;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#streetViewButton{
    display: none;
    z-index: 2;
    position: absolute;
    left: 10px;
    top: 9px;
}

/*Car data*/
.positionControls {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    display: block;
    justify-content: center;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.positionControls:hover,
.positionControls:focus {
    box-shadow: 0 0 12px rgba(83, 10, 168, 0.4);
    border-color: #530aa8;
}

.positionVehicleSelector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    margin: -5px;
}

.vehiclesButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 5px;
    scale: 1.15;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.vehiclesButtons img {
    scale: 1.5;
}

#vehicleName {
    font-weight: bold;
    line-height: 0%;
}

#previousVehicleIcon {
    transform: rotate(180deg);
    opacity: 1;
}

#nextVehicleIcon {
    transform: rotate(0deg);
    opacity: 1; 
}

#positionOptions {
    max-height: 300px; 
    overflow: hidden;
}

.positionDataContainer {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.positionDataContainer label {
    flex-shrink: 0;
    margin-right: 5px; 
}

.positionData {
    min-width: 0; 
    max-width: 100%; 
    font-size: 1em;
    padding: 5px;
    border-radius: 8px;
    flex-grow: 1; 
    border: 1px solid #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    transition: box-shadow 0.3s ease;
    color: #505050;
}

#hiderContainerPosition {
    display: none;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease-out, visibility 0s linear 0.3s; 
}

#hiderContainerPosition.visible {
    opacity: 1; 
    visibility: visible;
    transition: opacity 0.3s ease-in;
}

#hiderPosition {
    padding: 0;
    border: none;
    background: none;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#hiderPosition img {
    scale: 1.5;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

#hiderPosition.collapsed img {
    transform: rotate(-90deg);
} 

/* Car variables */
.carVariablesContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    z-index: 3;
    bottom: 20px;
    right: 10px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.gaugeContainer {
    background: conic-gradient(
        from -90deg at bottom,
        #530aa8 0deg,
        #530aa8 0deg,
        #dfdfdf 0deg,
        #dfdfdf 180deg
    );
    position: relative;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    border-radius: 100px 100px 0 0;
    box-sizing: border-box;
}

.gauge {
    background-color: #ffffff;
    width: 180px;
    height: 90px;
    border-radius: 90px 90px 0 0; 
}

.gaugeLine {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 5px;
    height: 105px;
    background-color: #ffffff;
    transform-origin: bottom center; 
}

.line1 {transform: rotate(-54deg);}
.line2 {transform: rotate(-18deg);}
.line3 {transform: rotate(18deg);}
.line4 {transform: rotate(54deg);}

.gaugeVelocity {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
    color: #530aa8;
}

.speedValue {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.speedUnit {
    display: block;
    font-size: 15px;
    font-style: italic;
}

.gaugeRPM {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 2px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 40%);
    text-align: center;
    color: #530aa8;
}

.rpmValue {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.rpmUnit {
    display: block;
    font-size: 15px;
    font-style: italic;
}

.fuelGauge {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.fuelIndicators {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100px; 
}

.fuelLevelText {
    font-size: 14px;
    font-weight: bold;
    color: #530aa8;
}

.fuelLevelText.top {
    align-self: center;
}

.fuelLevelText.bottom {
    align-self: center; 
}

.fuelIcon {
    align-self: center; 
}

.fuelIcon img {
    width: 20px;
    height: 20px;
}

.fuelContainer {
    width: 50px;
    height: 100px;
    background: linear-gradient(to top, #530aa8 0%, #dfdfdf 0%);
    clip-path: path("M 0,0 L 38,0 A 10,10 90 0 1 46,12 L 30,90 A 10,10 90 0 1 20,100 L 0,100");
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

/*Media querys*/
@media (max-width: 720px) {
    .contentCard {
        height: 120vh;
    }

    body{
        overflow-y: scroll;
    }
}
