/* Body */
body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; 
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 20px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 97.5%;
    box-sizing: border-box;
}

#logo {
    height: 42px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    font-size: 1em;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav a.main {
    color: #530aa8;
}

/* Main */
main {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentCard {
    position: absolute;
    height: calc(103vh - 103px);
    width: 97%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contentCard:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); 
}

.filterContainer {
    text-align: center;
    margin-bottom: 1px;
}

.filterContainer h2 {
    color: #530aa8;
    font-size: 1.4em;
    margin-bottom: 20px;
    line-height: 0px;
}

.filterContainer label {
    font-size: 1.1em;
    margin-right: 10px;
}

.filterContainer input {
    font-size: 1.1em;
    margin-right: 20px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 10px;
    text-align: center;
}

.filterSelection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    position: absolute;
    top: 32.5px;  
    left: 40px; 
    z-index: 3; 
}

.filterSelection span {
    font-size: 1.1em;
    color: #505050;
    margin-right: 10px;
}

.filterSelect {
    font-size: 1em;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #505050;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    height: 35px;
}

.filterSelect:hover, 
.filterSelect:focus {
    box-shadow: 0 0 12px rgba(83, 10, 168, 0.4);
    border-color: #530aa8;
}

#selectLocationContainer {
    display:inline-flex;
    align-items: center;
}

#positionFilterForm {
    text-align: center;
    margin-top: 20px;
    display: none;
}

#selectLocationBtn {
    font-size: 1.05em;
    padding: 8px 16px;
    background-color: #530aa8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
}

#positionFilterBtn {
    font-size: 1.05em;
    padding: 8px 16px;
    background-color: #530aa8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0px 20px;
}

#selectLocationBtn:hover, #applyPositionFilterBtn:hover {
    background-color: #6309CE;
}

#radiusInput {
    font-size: 1.1em;
    margin: 10px 0;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center;
    width: 100px;
}

#timeFilterBtn{
    font-size: 1.05em;
    padding: 8px 16px;
    background-color: #530aa8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 8px;
}

#timeFilterBtn:hover {
    background-color: #6309CE;
}

.mapContainer {
    flex-grow: 1;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Flatpickr styles */
.flatpickr-day.selected, 
.flatpickr-day.selected:hover, 
.flatpickr-day.selected:focus {
    background-color: #530aa8; 
    border-color: #530aa8;
    color: white; 
}

.flatpickr-input {
    font-size: 1.1em;
    margin-right: 20px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    width: 150px;
    transition: box-shadow 0.3s ease;
    color: #505050;
}

input[type="number"] {
  font-size: 1.1em;
  width: 80px;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flatpickr-input:focus {
    box-shadow: 0 0 12px rgba(83, 10, 168, 0.4);
    border-color: #530aa8;
}

.flatpickr-calendar {
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Alert messages*/
.swal2-custom-font {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px; 
    text-align: center; 
}

.swal2-confirm {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px;
    background-color: #6309CE !important; 
    color: white !important;
    border-radius: 12px; 
}

.swal2-icon.swal2-info {
    border-color: #6309CE !important; 
}

.swal2-icon-info-custom .swal2-icon-content {
    color: #6309CE !important; 
}

/* Path selector */ 
.pathSelectors {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 60px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.pathSelectors:hover, 
.pathSelectors:focus {
    box-shadow: 0 0 12px rgba(83, 10, 168, 0.4);
    border-color: #530aa8;
}

.pathSelectors h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
}

#pathButtons {
    max-height: 200px; 
    overflow-y: auto; 
}



.pathButton {
    display: block;
    width: 80px;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: white; /* Fondo blanco cuando no está seleccionado */
    color: #6309CE; /* Texto morado cuando no está seleccionado */
    border: 2px solid #6309CE; /* Borde morado cuando no está seleccionado */
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transición suave para los cambios de color */
}

.pathButton.selected {
    display: block;
    width: 80px;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: #6309CE;
    color: white;
    border: 2px solid #6309CE;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pathButton:hover {
    background-color: #5b0b97;
    color: white;
}
