/* Body */
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */
header {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 98.5%;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logo {
    height: 40px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 8px 16px;
    display: flex;
    border-radius: 5px;
    list-style: none;
    background-color: #530aa8;
}

nav li {
    font-size: 1em;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

/* Main */
main {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentCard {
    position: absolute;
    height: calc(100vh - 80px);
    width: 98%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contentCard:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

/*Vehicle selector*/
.vehicleSelector {
    position: absolute;
    width: 150px;
    top: 15px;
    left: 15px;
    z-index: 3;
}

.vehicleDropdown {
    display: flex;
    padding: 5px 2px 5px 10px;
    border-radius: 8px;
    font-size: 1em;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    color: black;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.vehicleDropdown:hover {
    box-shadow: 0 0 12px rgba(83, 10, 168, 0.4);
    border-color: #530aa8;
    background-color: #fdfdfd;
}

.dropdownIcon {
    width: 20px; 
    height: 20px;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.vehicleSelector:hover .dropdownIcon {
    transform: rotate(270deg);
}

.dropdownContent {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    margin-top: 3px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    width: 124px;
    z-index: 1;
    padding: 0 10px;
    transition: max-height 0.3s ease, opacity 0.01s ease;
}

.dropdownContent label {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    font-size: 15px;
    cursor: pointer;
    gap: 5px;
    user-select:none;
}

.vehicleSelector:hover .dropdownContent {
    max-height: 60px; 
    opacity: 1;
    padding: 10px;
}

.dropdownContent label input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f0f0f0;
    border: 2px solid #dfdfdf;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.dropdownContent label:nth-child(1) input[type="checkbox"]:checked {
    background-color: #f0f0f0; /* Color del primer checkbox */
    border-color: #6309ce;
}

.dropdownContent label:nth-child(1) input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #6309ce;
    border-radius: 2px;
    transform: translate(-50%, -50%);
}

.dropdownContent label:nth-child(2) input[type="checkbox"]:checked {
    background-color: #f0f0f0; /* Color del segundo checkbox */
    border-color: #a80aa8;
}

.dropdownContent label:nth-child(2) input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #a80aa8;
    border-radius: 2px;
    transform: translate(-50%, -50%);
}

/*Filter container*/
.filterContainer {
    margin-bottom: 1px;
    text-align: center;
}

.filterContainer h2 {
    margin-bottom: 20px;
    line-height: 0px;
    color: #530aa8;
    font-size: 1.4em;
}

.filterContainer label {
    margin-right: 10px;
    font-size: 1.1em;
}

.filterContainer input {
    margin-right: 20px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
    font-size: 1.1em;
    text-align: center;
    border: 1px solid #cccccc;
}

/*Time inputs and filter button*/
.timeInputs{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#timeFilterBtn{
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    font-size: 1.05em;
    background-color: #530aa8;
    color: white;
    cursor: pointer;
}

#timeFilterBtn:hover {
    background-color: #6309CE;
}

/*Map*/
.mapContainer {
    position: relative;
    width: 100%;
    flex-grow: 1;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Path selector */
.pathSelectors {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 200px;
    display: none;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    z-index: 3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.pathSelectors:hover,
.pathSelectors:focus {
    box-shadow: 0 0 12px rgba(83, 10, 168, 0.4);
    border-color: #530aa8;
}

.pathSelectors h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
}

#vehiclePathSelector {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    font-size: 1em;
    height: 25px;
}

#vehiclePathSelector:hover,
#vehiclePathSelector:focus {
    box-shadow: 0 0 12px rgba(83, 10, 168, 0.4);
    border-color: #530aa8;
}

#pathButtons {
    max-height: none; 
    max-width: 205px;
    width: 100%; 
    gap: 5px;
    display: flex;
    flex-direction: row;
    overflow-x: auto; 
    white-space: nowrap; 
    position: relative;
    justify-content: start;
}

#pathButtons::-webkit-scrollbar {
    height: 8px; 
}

#pathButtons::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #bfbfbf;
}

#pathButtons::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.buttonContainer{
    background-color: #ffffff;
}

.pathButton {
    width: 80px;
    margin: 5px auto;
    padding: 5px 10px;
    border-radius: 10px;
    display: block;
    background-color: white;
    color: #6309CE;
    border: 2px solid #6309CE;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pathButton.selected {
    width: 80px;
    margin: 5px auto;
    padding: 5px 10px;
    border-radius: 10px;
    display: block;
    background-color: #6309CE;
    color: white;
    border: 2px solid #6309CE;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pathButton:hover {
    background-color: #5b0b97;
    border: 2px solid #5b0b97;
    color: white;
}

/*Path controls*/
.pathControls {
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 10px;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    display: none;
    justify-content: center;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.pathControls:hover,
.pathControls:focus {
    box-shadow: 0 0 12px rgba(83, 10, 168, 0.4);
    border-color: #530aa8;
}

.pathHeader {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
#pathOptions {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-out; 
}

#pathOptions.visible {
    max-height: 300px; 
    transition: max-height 0.3s ease-in; 
}

.pointDataContainer {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.pointDataContainer label {
    margin-right: 5px; 
    flex-shrink: 0;
}

.pointData {
    width: 150px;
    min-width: 0; 
    max-width: 100%; 
    font-size: 1em;
    padding: 5px;
    border-radius: 8px;
    flex-grow: 1; 
    color: #505050;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.fixedData {
    margin-left: 2px; 
}

#pointControls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pathControlButton {
    margin-bottom: 8px;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    align-items: center;
    font-size: 1.05em;
    background-color: #530aa8;
    color: white;
    cursor: pointer;
}

.pathControlButton:hover {
    background-color:#6309CE;
}

.pathControlButton a{
    font-weight: bold;
    color: white;
}

#hiderPath {
    padding: 0;
    border: none;
    background: none;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#hiderPath img {
    scale: 1.5;
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}

#hiderPath.collapsed img {
    transform: rotate(90deg);
} 

/*Position controls*/
.positionControls {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    display: none;
    justify-content: center;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.positionControls:hover,
.positionControls:focus {
    box-shadow: 0 0 12px rgba(83, 10, 168, 0.4);
    border-color: #530aa8;
}

.positionHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: -5px;
}

.positionHeader h4 {
    line-height: 0%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #530aa8;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
  
#positionOptions {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out; 
}

#positionOptions.visible {
    max-height: 300px; 
    transition: max-height 0.3s ease-in; 
}

.positionDataContainer {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.positionDataContainer label {
    flex-shrink: 0;
    margin-right: 5px; 
}

.positionData {
    min-width: 0; 
    max-width: 100%; 
    font-size: 1em;
    padding: 5px;
    border-radius: 8px;
    flex-grow: 1; 
    border: 1px solid #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    transition: box-shadow 0.3s ease;
    color: #505050;
}

#hiderContainerPosition {
    display: none;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease-out, visibility 0s linear 0.3s; 
}

#hiderContainerPosition.visible {
    opacity: 1; 
    visibility: visible;
    transition: opacity 0.3s ease-in;
}

#hiderPosition {
    padding: 0;
    border: none;
    background: none;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#hiderPosition img {
    scale: 1.5;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

#hiderPosition.collapsed img {
    transform: rotate(-90deg);
} 

.infoBox {
    position: absolute;
    z-index: 3; 
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    padding: 5px;
    border-radius: 5px;
    display: none; 
    background-color: rgb(255, 255, 255);
    border: 1px solid #530aa8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 1; 
    transition: opacity 1s ease-out; 
}

/* vehicle variables */
.vehicleVariablesContainer {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    z-index: 3;
    bottom: 20px;
    right: 10px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.vehicleVariablesContainer:hover,
.vehicleVariablesContainer:focus {
    box-shadow: 0 0 12px rgba(83, 10, 168, 0.4);
    border-color: #530aa8;
}

.vehicleVariablesHeader {
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 10px;
    align-items: center;
    margin-top: -5px;
    margin-bottom: -20px;
}

#fuelVelContainer {
    display: flex;
    flex-direction: row;
    max-height: 0px; 
    overflow: hidden;
    gap: 20px;
    margin-top: 0px;
    transition: max-height 0.3s ease-out;
}

#fuelVelContainer.visible {
    max-height: 300px; 
    transition: max-height 0.3s ease-in;
}

#hiderVariables {
    padding: 0;
    border: none;
    background: none;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-top: 5px;
}

#hiderVariables img {
    scale: 1.5;
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}

#hiderVariables.collapsed img {
    transform: rotate(90deg);
} 

.gaugeContainer {
    background: conic-gradient(
        from -90deg at bottom,
        #530aa8 0deg,
        #530aa8 0deg,
        #dfdfdf 0deg,
        #dfdfdf 180deg
    );
    position: relative;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    border-radius: 100px 100px 0 0;
    box-sizing: border-box;
}

.gauge {
    background-color: #ffffff;
    width: 180px;
    height: 90px;
    border-radius: 90px 90px 0 0; 
}

.gaugeLine {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 5px;
    height: 105px;
    background-color: #ffffff;
    transform-origin: bottom center; 
}

.line1 {transform: rotate(-54deg);}
.line2 {transform: rotate(-18deg);}
.line3 {transform: rotate(18deg);}
.line4 {transform: rotate(54deg);}

.gaugeVelocity {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
    color: #530aa8;
}

.speedValue {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.speedUnit {
    display: block;
    font-size: 15px;
    font-style: italic;
}

.gaugeRPM {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 2px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 40%);
    text-align: center;
    color: #530aa8;
}

.rpmValue {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.rpmUnit {
    display: block;
    font-size: 15px;
    font-style: italic;
}

.fuelGauge {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.fuelIndicators {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100px; 
}

.fuelLevelText {
    font-size: 14px;
    font-weight: bold;
    color: #530aa8;
}

.fuelLevelText.top {
    align-self: center;
}

.fuelLevelText.bottom {
    align-self: center; 
}

.fuelIcon {
    align-self: center; 
}

.fuelIcon img {
    width: 20px;
    height: 20px;
}

.fuelContainer {
    width: 50px;
    height: 100px;
    background: linear-gradient(to top, #530aa8 0%, #dfdfdf 0%);
    clip-path: path("M 0,0 L 38,0 A 10,10 90 0 1 46,12 L 30,90 A 10,10 90 0 1 20,100 L 0,100");
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

/* Flatpickr styles */
.flatpickr-day.selected,
.flatpickr-day.selected:hover,
.flatpickr-day.selected:focus {
    background-color: #530aa8;
    border-color: #530aa8;
    color: white;
}

.flatpickr-input {
    width: 150px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.1em;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    color: #505050;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    transition: box-shadow 0.3s ease;
}

input[type="number"] {
    width: 80px;
    font-size: 1.1em;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flatpickr-input:focus {
    box-shadow: 0 0 12px rgba(83, 10, 168, 0.4);
    border-color: #530aa8;
}

.flatpickr-calendar {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Alert messages*/
.swal2-custom-font {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    text-align: center;
}

.swal2-confirm {
    padding: 10px 24px;
    border-radius: 12px;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #6309CE !important;
    color: white !important;
}

.swal2-icon.swal2-info {
    border-color: #6309CE !important;
}

.swal2-icon-info-custom .swal2-icon-content {
    color: #6309CE !important;
}

/*Media querys*/
@media (max-width: 720px) {
    .infoBox {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .contentCard {
        height: 120vh;
    }

    body{
        overflow-y: scroll;
    }
}